DATABASE_CONNECTION_PATH=
HID_NETWORK_RPC=
HID_NETWORK_API=
HID_NETWORK_NAMESPACE=testnet
EDV_BASE_URL=
EDV_CONFIG_DIR='.api-edv-config'
EDV_DID_FILE_PATH='.api-edv-config/edv-did.json'
EDV_KEY_FILE_PATH='.api-edv-config/edv-keys.json'
MNEMONIC=
JWT_SECRET=
STUDIO_SERVER_JWT_SECRET=
WHITELISTED_CORS=["https://entity.hypersign.id"]




