# Application
PORT= 3002
WHITELISTED_CORS=["http://localhost:9001","https://wallet-prajna.hypersign.id"]
TENANT_SUBDOMAIN_PREFIX="ent-"

# Database connection
DATABASE_CONNECTION_PATH=mongodb+srv://nodetest:varsha03@nodetest.dsj9j.mongodb.net/entity-developer-dashboard?retryWrites=true&w=majority

# Hypersign Network 
HID_NETWORK_RPC=https://rpc.prajna.hypersign.id/
HID_NETWORK_API=https://api.prajna.hypersign.id/
HID_NETWORK_NAMESPACE=testnet

# Data vault 
EDV_BASE_URL=https://stage.hypermine.in/vault
VAULT_PREFIX='hs:developer-dashboard:'

# KMS
MNEMONIC=cube grit eyebrow message grid antenna comic desk lunch test clutch case agree depend salmon dragon unhappy gospel scare despair become science egg awake
JWT_SECRET=e8b86afe-3fc6-4c97-a44d-cc105caeff01

# ID Wallet
EMAIL_CREDENTITAL_SCHEMA_ID="sch:hid:testnet:z6MkoTFHzx3XPXAvAVAN9CWMh91vH53m4kTFiVPypC22c7fB:1.0"
# DEVELOPER_DASHBOARD_SERVICE_PUBLIC_EP="http://localhost:3002"

# Services Domains
SSI_API_DOMAIN="https://api.entity.hypersign.id"
CAVACH_API_DOMAIN="http://localhost:3001"








